/* 清除浏览器默认样式 */
* {
  box-sizing: border-box;
}
html,
body,
ul,
h1,
h2,
h3,
h4,
span,s,li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul,li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.viewport {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  min-height: 780px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  padding: 3.625rem 0.833rem 0;
}
.viewport .column {
  flex: 3;
  position: relative;
  /* background-color: red; */
}
.viewport .column:nth-child(2) {
  flex: 4;
  margin: 1.333rem 0.833rem 0;
  /* background-color: pink; */
}

/* 公共面板样式 */
.panel {
  /* 由于未设置高度,因此左右边框宽度未生效 */
  border: 2rem solid #ccc;
  border-width: 2.125rem 1.583rem 0.833rem 5.5rem;
  border-image: url(../images/border.png) 51 38 20 132;
  position: relative;
  margin-bottom: 0.833rem;
}
.panel .inner {
  /* important:实在啥功能 */
  position: absolute;
  top: -2.125rem;
  right: -1.583rem;
  bottom: -0.833rem;
  left: -5.5rem;
  padding: 1rem 1.5rem;
}
.panel h3 {
  font-size: 0.833rem;
  color: #fff;
}

/* 概览布局 */
.overview {
  height: 4.583rem;
}
.overview .inner {
  display: flex;
  justify-content: space-between;
}
.overview h4 {
  color: #fff;
  font-size: 1.042rem;
  padding-left: 0.25rem;
}
.overview span {
  color: #4e9bfd;
  font-size: 0.667rem;
}

/* 监控区域布局 */
.monitor {
  height: 19.792rem;
}
.monitor .inner {
  padding: 1rem 0;
}
.monitor .tabs {
  font-size: 0;
  margin-bottom: 0.833rem;
  padding-left: 1.25rem ;
}
.monitor .tabs a {
  font-size: 0.708rem;
  padding: 0 1.125rem;
  line-height: 1;
}
.monitor .tabs a.active {
  color: #fff;
}
.monitor .tabs a:first-child {
  padding-left: 0;
  border-right: 1px solid #00f2f1;
}
.monitor .row {
  display: flex;
  padding-left: 1.25rem;
  padding-top: 0.542rem;
  padding-bottom: 0.542rem;
}
.monitor .col {
  display: block;
}
.monitor .col:nth-child(1){
  width: 3rem;
}
.monitor .col:nth-child(2){
  width: 8rem;
  margin: 0 2.083rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.monitor .col:nth-child(3){
  flex: 1;
}

.monitor .head {
  color: #5cd8dc;
  font-size: 0.583rem;
  line-height: 1;
  background-color: rgba(255,255,255,.1);
}
.monitor .head .col {
  padding: 0.583rem 0;
}
.monitor .marquee-view{
  overflow: hidden;
  height: 13rem;
}
.monitor .marquee {
  width: 100%;
  color: #4b82c7;
  font-size: 0.5rem;
  animation: scroll-top 15s linear infinite;
}
.monitor .marquee:hover {
  /* 播放状态  running 播放  paused 暂停 */
  animation-play-state: paused;
}
.monitor .marquee .row {
  position: relative;
}
.monitor .marquee .icon-dot {
  display: none;
  position: absolute;
  top: 0.667rem;
  left: 0.417rem;
}
.monitor .marquee .row:hover {
  background-color: rgba(255,255,255,.1);
}
.monitor .marquee .row:hover .icon-dot {
  display: block;
}
@keyframes scroll-top {
  0% {}
  100% {
    transform: translateY(-50%);
  }
}


/* *****点位分布统计******* */
.point {
  height: 14.042rem;
}
.point .chart {
  display: flex;
  margin-top: 1.042rem;
}
.point .pie {
  width: 13.167rem;
}
.point .data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  height: 9.875rem;
  padding: 1.75rem 0 0 1.333rem;
  background-image: url(../images/rect.png);
  background-size: cover;
}
.point .data .item {
  flex: 1;
}
.point .item h4{
  font-size: 0.917rem;
  color: #fff;
}
.point .item span {
  font-size: 0.667rem;
  color: #4b82c7;
}


/* 地图的实现 */
.map {
  display: flex;
  flex-direction: column;
  height: 23.917rem;
  margin-bottom: 0.833rem;
}
.map h3 {
  padding: 0.625rem 0;
  font-size: 0.833rem;
  color: #fff;
}
.map h3 span {
  margin-right: 0.417rem;
  color: #68d8fe;
}
.map .chart {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
}
.map .chart .geo {
  width: 100%;
  height: 100%;
}

/* *****点位分布统计******* */
.user {
  height: 14.042rem;
}
.user .chart {
  display: flex;
  margin-top: 1.042rem;
}
.user .bar {
  width: 21.25rem;
}
.user .data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  height: 9.875rem;
  padding: 1.75rem 0 0 1.333rem;
  background-image: url(../images/rect.png);
  background-size: cover;
}
.user .data .item {
  flex: 1;
}
.user .item h4{
  font-size: 0.917rem;
  color: #fff;
}
.user .item span {
  font-size: 0.667rem;
  color: #4b82c7;
}

/********* 订单量******* */
.orders {
  height: 6.167rem;
}
.orders .tabs {
  font-size: 0;
  margin-bottom: 1.042rem;
}
.orders .tabs a {
  display: inline-block;
  padding: 0 0.833rem;
  border-right: 1px solid #00f2f1;
  line-height: 1;
  color: #1950c4;
  font-size: 0.75rem;
}
.orders .tabs a:nth-child(1){
  padding-left: 0;
}
.orders .tabs a:last-child {
  border-right: none;
}
.orders .tabs a.active {
  color: #fff;
}
.orders .data {
  display: flex;
}
.orders .data .item {
  flex: 1;
}
.orders .data .item h4 {
  color: #fff;
  line-height: 1;
}
.orders .data .item span {
  color: #4b82c7;
  font-size: 0.667rem;
}

/* 销售统计 */
.sales {
  height: 10.292rem;
}
.sales .inner {
  display: flex;
  flex-direction: column;
}
.head {
  overflow: hidden;
  /* margin-bottom: 0.833rem; */
  font-size: 0;
}
.sales .head h3 {
  float: left;
  padding-right: 0.833rem;
  border-right: 1px solid #00f2f1;
  line-height: 1;
  font-size: 0.833rem;
}
.sales .head a {
  display: inline-block;
  margin-left: 1.083rem;
  padding: 0 0.167rem;
  border-radius: 0.208rem;
  font-size: 0.667rem;
  color: #4b82c7;
}
.sales .head a.active {
  color: #fff;
  background-color:#4b82c7 ;
}
.sales .chart {
  flex: 1;
}
.sales .chart .line {
  width: 100%;
  height: 100%;
}


/* 渠道分布 */
.wrap {
  display: flex;
}
.wrap .panel {
  flex: 1;
  height: 9.667rem;
}
.wrap .panel:first-child {
  margin-right: 0.833rem;
}
.wrap .channel h3 {
  margin-bottom: 1.042rem;
}
.wrap .channel h4 {
  color: #fff;
  font-size: 1rem;
}
.wrap .channel small {
  font-size: 0.5rem;
}
.wrap .channel .row {
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.wrap .channel .col:first-child{
  float: left;
}
.wrap .channel .col:last-child{
  float: right;
}
.wrap .channel span {
  position: relative;
  color: #4e9bfd;
  font-size: 0.5rem;
}
.wrap .quarter .chart{
  width: 100%;
  position: relative;
  height: 4.167rem;
}
.wrap .quarter .chart .pie {
  width: 100%;
  height: 100%;
}
.wrap .quarter .chart h4 {
  position: absolute;
  top: 2.083rem;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
.wrap .quarter .data {
  display: flex;
  justify-content: space-between;
}
.wrap .quarter .data .item {
  width: 50%;
}
.quarter .data h4 {
  font-size: 0.833rem;
  color: #fff;
  /* margin-bottom: 0.4rem; */
}
/* important:设置span宽度不生效 */
.quarter .data span {
  display:block;
  width: 100%;
  font-size: 0.5rem;
  color: #4e9bfd;
  /* 控制字体大小 */
  -webkit-transform:scale(0.6);
}

/* 热销排行 */
.top {
  height: 11.667rem;
}
.top .inner {
  display: flex;
  flex-direction: row;
}
.top .country {
  width: 6.958rem;
}
.top .country h3 {
  font-size: 0.833rem;
  margin-bottom: 1.125rem;
}
.top .country ul {
  color: #4e9bfd;
  font-size: 0.5rem;
}
.top .country li {
  margin-bottom: 1.25rem;
}
.top .country ul i {
  font-size: 1.375rem;
}
.top .province {
  flex: 1;
}
.top .province .date {
  float: right;
  font-size: 0.5rem;
  color: #4e9bfd;
}

.top .province h3 {
  margin-bottom: 0.708rem;
}
.top .province .data {
  display: flex;
  flex-direction: row;
}
.top .province .sup {
  width: 6.667rem;
}
.province .sup li.active {
  background-color: rgba(10, 67, 188, 0.2);
}
.province .sup li.active
.top .province .sub {
  flex: 1;
}
.top .province ul li {
  display: flex;
  justify-content: space-between;
}
.top .province ul span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top .province li {
  width: 100%;
  padding: 0.3rem 0;
  color: #4e9bfd;
  font-size: 0.5rem;
  -webkit-transform: scale(0.8);
}
.top .province ul.sub {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.5rem;
  background-color: rgba(10, 67, 188, 0.2);
}

.top .province .sub li{
  color: #00f2f1;
}
.top .province .sub .icon-up {
  color: red;
}



